@charset "UTF-8";
/* Main CSS Desenvolvido para Mobile */
/*--------------------------------------------------------------------------------------
Institucional - Template
0. GLOBAL
1. NAVBAR / LOGO
2. BANNER
3. CERVEJAS
4. SOBRE
5. EVENTOS
6. CONTATO
7. MAPA
8. FORMULARIO
 ----------------------------------------------------------------------------------------*/
/*--------------------
  0. GLOBAL
----------------------*/
.displayNoneMobile {
  display: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #FFF;
}

/*--------------------
  1. NAVBAR / LOGO
----------------------*/
#navBarMobile {
  min-height: 10vh;
  padding: 20px;
}

#navBarDesktop {
  display: none;
}

/* CENTER TOGGOLE MENU */
.navbar-brand {
  display: none;
}

.navbar-toggler {
  margin: auto;
  border: none;
}

/*DRAW TOGGLE MENU */
.navbar-light .navbar-toggler-icon {
  width: 40px;
  background-image: url("data: image/svg+xml; charset=utf8,%3Csvg viewBox='0 0 32 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,133,0)' stroke-width='2' stroke-miterlimit='0' d='M-10 3h60M-10 13h53M-10 23h53M-10 33H53'/%3E%3C/svg%3E");
}

/* CENTER NAV LINKS */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

/*--------------------
  2. BANNER
---------------------*/
#banner {
  background-image: url("../img/mobile/Banner_Mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#bannerLogo {
  text-align: center;
  padding-top: 40px;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
}

#bannerDetalhes {
  width: 80%;
  max-width: 300px;
  background-color: #52667c;
  color: #FFF;
  padding: 25px;
  margin: 150px 0 50px;
}

#bannerDetalhes span {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14pt;
}

#bannerDetalhes p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12pt;
}

#bannerDetalhes a {
  font-family: "Roboto";
  font-weight: 400;
  color: #FFF;
  font-size: 12pt;
  padding: 10px;
  border: 1px solid #FFF;
}

#bannerDetalhesTituloMobile {
  font-family: "Roboto";
  font-weight: bold;
}

#bannerDetalhesTituloMobile .laranja {
  color: #ff8500;
}

#bannerSocial,
.home {
  display: none;
}

/*--------------------
  3. Links
----------------------*/
#linksPadding {
  width: 80%;
  margin: auto;
  padding-top: 60px;
}

#linksPadding h1 {
  margin-bottom: 60px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14pt;
  color: #52667c;
  text-align: center;
}

#linksPadding h2 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14pt;
  color: #FFF;
  background-color: #ff8500;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 35px;
}

#linksPadding a {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 10pt;
  color: #FFF;
  background-color: #52667c;
  display: block;
  height: 100%;
  text-align: left;
  padding: 12px 20px;
  background-color: #52667c;
}

#linksDetalhesContainer {
  margin-bottom: 60px;
}

.linksDetalhesTitulo {
  min-width: 80px;
  max-width: 100px;
}

.linksDetalhes {
  margin-bottom: 40px;
}

.linksDetalhes img {
  width: 100%;
  outline: 2px solid white;
  outline-offset: -10px;
}

#linksNovidades {
  width: 100%;
  outline: 2px solid #ff8500;
  outline-offset: 15px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12pt;
  color: #ff8500;
  margin-top: 30px;
  margin-bottom: 100px;
}

#linksNovidades a {
  color: #ff8500;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12pt;
  background: #FFF;
  display: inline;
  margin: 0;
  padding: 10px;
  border: 1px solid #ff8500;
}

#linksNovidades:hover {
  border-color: #ff8500;
  color: #ff8500;
}

#linksNovidades p:first-of-type {
  font-family: "Roboto";
  font-weight: bold;
}

#linksNovidades p {
  font-size: 12pt;
}

#imgServicos {
  width: 100%;
  min-height: 150px;
  background-image: url("../img/mobile/Servicos.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

#Novidades {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14pt;
  color: #ff8500;
}

/*--------------------
  4. CONTATO
----------------------*/
#contato {
  margin-top: 40px;
  padding: 40px 10%;
  text-align: left;
  background-color: #ff8500;
}

#contato br {
  display: none;
}

#contato span:first-of-type {
  color: #FFF;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14pt;
  margin-bottom: 20px;
}

#contatoContainerForm {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 40px;
}

#contatoContainerForm ::placeholder {
  padding-left: 8px;
  color: #ff8500;
  font-family: "Roboto";
  font-weight: 400;
}

.input input,
.input textarea {
  width: 100%;
  border: none;
  border-radius: 0;
}

.input input {
  margin-bottom: 10px;
  height: 35px;
  padding: 0;
}

.input textarea {
  height: 150px;
  margin-bottom: 10px;
  padding: 0;
}

.input input:active {
  font-family: "Roboto";
  font-weight: 400;
  padding: 0 0 0 10px;
  color: #52667c;
}

#button {
  text-align: right;
}

#button button {
  color: #FFF;
  background-color: #ff8500;
  border-width: 2px;
  padding: 8px;
  border-color: #FFF;
}

#contatoContainerDados {
  color: #FFF;
  text-align: left;
  margin: 50px auto;
}

#contatoContainerDados span {
  margin-bottom: 0;
}

#contatoContainerDados p {
  margin-bottom: 0;
  font-size: 12pt;
}

#contatoContainerDadosTitulo,
.contatoContainerDadosMargin {
  margin-bottom: 8px !important;
}

/*--------------------
  5. NewsLetter
----------------------*/
#newsletter {
  background-image: url("../img/mobile/FundoLinhas_Mobile.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
}

#newsletter #newslettermargin {
  max-width: 80%;
  margin: auto;
}

#newsletter #newslettermargin h3 {
  padding-top: 40px;
}

#newsletter #newslettermargin img {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

#newsletterBotaoFundo {
  background-color: transparent !important;
  color: #FFF !important;
}

/*--------------------
  6. NAVEGAÇÃO
----------------------*/
#navegacao {
  background-color: #52667c;
  color: #FFF;
  margin-top: -1px;
  z-index: 2;
}

#navegacao span {
  font-size: 14pt;
}

#navegacao a {
  color: #FFF;
  font-size: 14pt;
}

#navegacao2 {
  display: none;
}

#navegacaoMargin {
  max-width: 80%;
  text-align: right;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

#navegacaoMargin :first-child {
  font-family: "Roboto";
  font-weight: bold;
}

/*--------------------
  7. footer
----------------------*/
footer {
  background-color: #273544;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -1px;
}

footer span {
  font-size: 14pt;
  color: #FFF;
}

/*--------------------
  8. Pagina História
----------------------*/
#bannerLogoHistoria {
  text-align: center;
  background-color: #f8f9fa;
  padding: 0 0 30px;
}

#imgDesktop {
  display: none;
}

#historiaDesktop {
  display: none;
}

#historia {
  padding: 0 0 50px;
}

#historia div {
  text-align: left;
  max-width: 70%;
  margin: auto;
}

#historia h1 {
  font-size: 14pt;
  color: #52667c;
  font-family: "Roboto";
  font-weight: bold;
  padding-top: 50px;
  margin: 0 0 20px;
}

#historia img {
  width: 100%;
  margin-bottom: 35px;
}

#historia p:first-of-type {
  font-family: "Roboto";
  font-weight: bold;
}

#historia p {
  color: #ff8500;
  font-size: 12pt;
}

#historiaParagrafos {
  outline: 2px solid #ff8500;
  outline-offset: 10px;
  padding-bottom: 8px;
}

#historiaParagrafos a {
  color: #ff8500;
  font-size: 12pt;
  border: 2px solid #ff8500;
  padding: 5px;
}

/*--------------------
  8. Pagina Servico
----------------------*/
#servicoPadding {
  max-width: 70%;
  margin: auto;
  padding: 0 0 50px;
  text-align: left;
}

#servicoPadding h1 {
  font-size: 14pt;
  color: #52667c;
  font-family: "Roboto";
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 40px;
}

#servicoPaddingOutline {
  outline: 2px solid #ff8500;
  outline-offset: 13px;
  margin: 40px 0;
}

#servicoPaddingOutline img {
  width: 100%;
}

#servicoPaddingOutline p:first-of-type {
  font-family: "Roboto";
  font-weight: bold;
}

#servicoPaddingOutline p {
  color: #ff8500;
  font-size: 12pt;
}

#servicoPaddingOutline a {
  color: #ff8500;
  font-size: 12pt;
  border: 2px solid #ff8500;
  padding: 5px;
}

.servicoInvert {
  margin: 100px 0 !important;
}

#servicoImgText {
  background-color: #ff8500;
  color: #FFF !important;
  font-size: 12pt !important;
  font-family: "Roboto";
  font-weight: 400 !important;
  padding: 10px;
}

.servicos {
  margin-top: 80px;
}
